.container{
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding-top: 5vh;
    align-items: center;
}

.seccion{
    gap: 20px;
    display: flex;
}
.seccion .mb-3 {
    flex: 1;
}