.navbar{
    background: #6190e8;
    background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8);
    background: linear-gradient(to right, #6190e8, #a7bfe8); 
}
.navbar ul li i{
    font-size: 30px;
    cursor: pointer;
}

