{% block contenido %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">

<div class="login-container container">
    <div class="sub-container">
        <h1>Acceso de Administradores</h1>
        <div class="login">
            <form action="/login" method="POST">
                {{ form_acceso.hidden_tag() }}
                {{ form_acceso.correo.label }}
                {{ form_acceso.correo(class="form-control") }}
                {{ form_acceso.clave.label }}
                {{ form_acceso.clave(class="form-control") }}
                <br>
                {{ form_acceso.submit(class="btn btn-primary") }}
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        </div>
</div>


{% endblock %}