{% extends "base_template.html" %}



{% block contenido %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/btn_asistencias.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/buscador_horarios.js') }}" defer></script>


<div class="container container-fluid">
    <div class="sub-container">
        {% if current_user.status == "Administrador" %}
            <div class="buscador">
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Buscar Trabajador por Nombre o Apellido" type="search" style="overflow: hidden;">
            <i class='bx bx-search'></i>
            </div>
        {% endif %}
        <h1 style="width: 100%; text-align: center; text-decoration: underline; padding-top: 10px; padding-bottom: 10px;">
            Turnos y Horarios
        </h1>
        {% if current_user.status == "Administrador" %}
            {% for usuario in usuarios %}
                <div class="btn_asistencia" style="display: flex; width: 100%; justify-content: center; margin-top: 10px;">
                    <button class="btn_show" type="button" data-bs-toggle="modal" data-bs-target="#asistenciaModal{{ usuario.id }}" style="border-radius: 28px; width: 100%;">
                        <span>{{ usuario.nombre }} {{ usuario.apellido_p }}</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                          </svg>
                    </button>
                </div>

                <div class="modal fade" id="asistenciaModal{{ usuario.id }}" tabindex="-1" 
                    aria-labelledby="asistenciaModalLabel{{ usuario.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="asistenciaModalLabel{{ usuario.id }}">
                                    Asistencias de {{ usuario.nombre }} {{ usuario.apellido_p }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Fecha del Registro</th>
                                            <th>Turno</th>
                                            <th>Hora Inicio</th>
                                            <th>Hora Fin</th>
                                            <th>Hora Registro</th>
                                            <th>Latitud</th>
                                            <th>Longitud</th>
                                            <th>Tiempo Trabajado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for registro in obtener_asistencias %}
                                            {% if registro.usuario.id == usuario.id %}
                                                <tr>
                                                    <td>{{ registro.fecha_registro }}</td>
                                                    <td>{{ registro.turno }}</td>
                                                    <td>{{ registro.hora_inicio }}</td>
                                                    <td>{{ registro.hora_fin }}</td>
                                                    <td>{{ registro.hora_registro }}</td>
                                                    <td>{{ registro.latitud }}</td>
                                                    <td>{{ registro.longitud }}</td>
                                                    <td>{{ registro.tiempo_trabajo }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="btn_asistencia" style="display: flex; width: 100%; justify-content: center; margin-top: 10px;">
                <button class="btn_show" type="button" data-bs-toggle="modal" data-bs-target="#asistenciaModal" style="border-radius: 28px;">
                    <span>Mis Asistencias</span>
                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </button>
            </div>

            <div class="modal fade" id="asistenciaModal" tabindex="-1" aria-labelledby="asistenciaModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content" style="width: 100%;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="asistenciaModalLabel">Tu Asistencia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" >
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Fecha del Registro</th>
                                        <th>Turno</th>
                                        <th>Hora Inicio</th>
                                        <th>Hora Fin</th>
                                        <th>Hora Registro</th>
                                        <th>Latitud</th>
                                        <th>Longitud</th>
                                        <th>Tiempo Trabajado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asistencia in asistencias %}
                                    <tr>
                                        <td>{{ asistencia.fecha_registro }}</td>
                                        <td>{{ asistencia.turno }}</td>
                                        <td>{{ asistencia.hora_inicio }}</td>
                                        <td>{{ asistencia.hora_fin }}</td>
                                        <td>{{ asistencia.hora_registro }}</td>
                                        <td>{{ asistencia.latitud }}</td>
                                        <td>{{ asistencia.longitud }} </td>
                                        <td>{{ asistencia.tiempo_trabajo }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}